.wrapper
  .container
    %h2.title 会員登録完了
    .form
      .form__fields
        .end
          ありがとうございます。
          %br
            会員登録が完了しました
        .submit
          .submit__btn
            = link_to "marpacriをはじめる", "/"
