.wrapper
  %h2 電話番号認証画面
  = form_with(url: '#') do |f|
    .field
      = f.label '電話番号'
      %br/
      = f.phone_field :input_phone_number, placeholder: '携帯電話の番号を入力'
      
      = f.submit value: '次へ' 