.wrapper
  %h2 クレジットカード情報登録
  %form{action:"creditcard_regist", method: :post}
    カード番号
    %input{type: "number", name: "card_no", size: "16"}
    %br
    有効期間
    %br/
    月
    %input{type: "number", name: "month", size: "2",maximum: "12",minimum: "1"}
    年
    %input{type: "number", name: "year", size: "2"}
    %br/
    %br/
    セキュリティコード
    %input{type: "number", name: "seq_code", size: "4"}
    %br/
    %input{type: "submit", value: "次へ進む"}
    .submit
