.wrapper {
  background-color: rgb(245, 245, 245);
  height: 100%;
  width: 100%;

  .logo-title {
    height: 128px;
    text-align: center;
    line-height: 128px;
    text-align: center;
    color: #333;

    &__svg-image {
      height: 60px;
      margin-top: 35px;
    }
  }
}