.header 部分テンプレートをrender!!
.mypage-wrapper
  .side-area
    .side-area__trade
      %nav
        %ul
          %li
    .side-area__merpay メルペイ
    .side-area__config 設定
  .main-area
    .main-area__mypage
    .main-area__trade-detail
.footer 部分テンプレートをrender!!