.header 部分テンプレートをrender!!
.mypage-wrapper
  .side-area
    .side-area__trade
    .side-area__merpay
    .side-area__config
  .main-area
    .main-area__mypage
    .main-area__trade-detail
.footer 部分テンプレートをrender!!