.wrapper
  .main-contents
    = render "home/header"
    
    .slide
      .slide__image
      .slide__text
        .slide__text--large
          スマホでかんたん
          %br
          フリマアプリ
        .slide__text--small
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
      .slide__link
        .slide__link--left
        .slide__link--right

        