.category-index {
  width: 700px;
  margin: 40px auto;
}

  .category__title {
    padding: 8px 0;
    font-size: 22px;
    font-weight: bold;
  }

  .category__list {
    background-color: #fff;
    min-width: 80px;
    text-align: center;
    border-radius: 4px;
    height: 40px;
    box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
    padding: 0 30px;
    margin: 5px;
    font-size: 16px;
    line-height: 40px;
    float: left;
    color: black;
    p {
      font-size: 16px;
    }

    &:hover {
      background-color: red;
      color: white;
    }
  }

.category__box {
  margin-top: 280px;
  p {
    font-size: 16px;
  }
  &--white {
    border-radius: 4px;
    background-color: #fff;
  }
    &--red {
      border-radius: 4px;
      padding: 5px 30px;
      height: 30px;
      line-height: 30px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      background-color: red;
    }

    &__all {
      padding: 24px 30px 10px 30px;
    }

      &__children {
        padding-top: 15px;
        padding-bottom: 5px;
      }

      &__grandchildren {
        padding: 10px 20px;
        p {
          display: inline-block;
          width: 295px;
        }

        &__all {
          display: inline-block;
          padding-bottom: 10px;
          width: 49%;
        }
      }
}