.logo-footer {
  background-color: rgb(245, 245, 245);

  .regulations {
    padding-top: 30px;
    width: 456px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;

    &__regulation {
      font-size: 12px;
      display: block;
      color: #333;
    }
  }

  .link-logo {
    text-align: center;
    padding-top: 10px;
  }
}