.search-wrapper {
  width: 100%;
  min-height: 100%;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: space-around;

  .detail-search {
    float: left;
    width: 280px;
    min-height: 100%;
    padding-top: 40px;

    &__list-change {
      height: 80px;
      
      .pull-down {
        @include pull-down-list-change;
      }
    }

    &__box {
      background-color: #ffffff;

      &__title {
        font-weight: bold;
        padding: 10px 0 0 10px; 
      }

      &__form {
        display: flex;
        flex-direction: column;

        &__icon-label {
          padding: 30px 0 0 20px;

          &--icon {
            color: $gray_text;
          }
          &--label {
            @include search-form-label
          }
        }
        
        &__checkbox-label {
          padding: 5px 0 0 20px;

        }

        .input-field {
          @include input-field;
        }
        .pull-down {
          @include pull-down;
        }
        
        &__price-area {
          display: flex;
          margin-top: 5px;

          .price-input {
            width: 30%;
            height: 40px;
            margin: 0 auto;
            border-radius: 2px;
            border: 1px  solid $gray_text;
            font-size: 15px;
            padding-left: 8px;
          }
        }

        &__submit-area {
          display: flex;
          justify-content: space-evenly;
          padding: 20px 0 10px 0;

          &--reset {
            @include search-btn;
            background-color: $gray_text;
          }

          &--submit {
            @include search-btn;
            background-color: $btn-color;
          }
        }
      }
    }
  }

  .search-result {
    width: 800px;
    min-height: 100%;
    padding-top: 40px;

    &__title {
      padding-bottom: 16px;
    
      &__topic {
        font: {
          weight: bold;
          size: 24px;
          }
        padding-bottom: 8px;
      }

      &__num {
        color: $gray_text;
      }
    }
    
    &__products {
      width: 100%;
      display: flex;
      flex-flow: row wrap;

      &__product {
        height: 240px;
        margin: 0 16px 16px 0;
        background-color: $color;
      
        &__name {
          width: 150px;
          font-size: 16px;
          color: black;
          line-height: 20px;
          
        }
      }
    } 
  }
}