.wrapper {
  background-color: rgb(245, 245, 245);
  height: 100%;
  width: 100%;

  .logo-title {
    height: 128px;
    line-height: 128px;
    text-align: center;
    color: #333;

    &__svg-image {
      height: 60px;
      margin-top: 35px;
    }
  }

  .signup-area {
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 700px;

    &__title {
      font-size: 22px;
      padding: 32px;
      border-bottom: 1px solid rgb(245, 245, 245);
      font-weight: bold;
    }
    
    &__link-box {
      padding: 40px 180px 70px;

      &__email {
        border-radius: 4px;
        background-color: #ea352d;
        color: #fff;
        line-height: 48px;
        font-size: 14px;
        position: relative;
        width: 343px;

        &--icon {
          position: absolute;
          left: 17px;
          top: 15px;
        }
      }

      &__facebook {
        border-radius: 4px;
        background: #385185;
        color: #fff;
        line-height: 48px;
        font-size: 14px;
        position: relative;
        width: 343px;
        margin-top: 16px;

        &--icon {
          position: absolute;
          left: 15px;
          top: 12px;
        }
      }

      &__google {
        border: #979797 solid 1px;
        border-radius: 4px;
        background-color: #fff;
        color: #333;
        line-height: 48px;
        font-size: 14px;
        position: relative;
        width: 343px;
        margin-top: 16px;

        &--icon {
          position: absolute;
          left: 18px;
          top: 15px;
        }
      }
    }
  }
  
  .regulations {
    width: 456px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
  
    &__regulation {
      font-size: 12px;
      display: block;
      color: #333;
    }
  }

  .link-logo {
    text-align: center;
    padding-top: 10px;

  }

  .mercari {
    text-align: center;
    font-size: 13px;
  }
}