.header {
  height: 100px; //仮置き
}

.mypage-wrapper {
  height: calc(100vh - 100px);
  width: 100%;
  background: rgb(245, 245, 245);
  
  .side-area {
    float: left;
    width: 280px;
    height: 100%;
    margin: 0 40px 0 0;
    border: solid 1px blueviolet;
    display: flex;
    flex-direction: column;

    &__trade {
      height: 40px;
      border: solid 1px blueviolet;

    }
  }

  .main-area {
    float: right;
    width: 700px;
    height: 100%;
    border: solid 1px red;

    &__mypage {
      border: solid 1px yellow
    }
  }
}

.footer {
  height: 100px; //仮置き
}