- content_for(:title, '商品の情報を入力 メルカリ スマホでかんたん フリマアプリ')
.wrapper
  .logo-title (仮）メルカリのロゴ　mercari
  .sell-area
    .sell-area__title 
      商品の情報を入力
    %form.sell-area__form
      .sell-area__upload
        %h3.sell-area__header
          出品画像
          %span.form-require 必須
        %p.sell-area__text
          最大10枚までアップロードできます
        .sell-area__dropbox
          %label.sell-area__dropbox__img
            %input{type: "file"}
            %p ドラッグアンドドロップ<br>またはクリックしてファイルをアップロード
    .sell-area__content
      %h3.sell-area__name
        商品名
        %span.form-require  必須
      %input.sell-area__name__form{placeholder: "商品名（必須 40文字まで)"}
      %h3.sell-area__description
        商品の説明
        %span.form-require  必須
      %textarea.sell-area__description__textarea{placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}